.main {
    display:flex;
    padding: 0px 20px;
    .title{
        margin: 35px 0px;
    }
    @include small-only{
        justify-content: center;
        flex-direction: initial;
    }
}

.content__homeBox{
    width: 100%;
    @include small-only{
        width:70%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @include pad-only{
        width:40%;
    }
    @include computer-only {
        width:25%;
    }
}

.main__product{
    #back{
        position: absolute;
        top: 25px;
    }
}

.main__checkout{
    #back{
        position: relative;
        top: 25px;
    }
    li {
        margin-bottom:5px;
    }
    .title{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    h2{
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.main__home {
    @include pad-only{
        .content__homeBox{
            width:100%;
        }
    }
}
.content__homeBox--main{
    display: flex;
    flex-direction: column;
    @include pad-only{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.main__payment{
    margin-top : 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    svg{
        margin-bottom: 20px;
    }
    a{
        color: $color-primary;
    }
    a:hover {
        text-decoration: underline;
        color: $color-primary;
    }
    #orderId{
        font-weight: 600;
    }
    >* {
        margin-bottom: 5px;
    }
    @include small-only{
        align-items: center;
        >*{
            width:50%;
        }
    }
    @include computer-only {
        margin-top : 10%;

    }
}