.main {
    padding: 0px 25px;

    .title{
        margin: 35px 0px;
    }
}

.content__homeBox{
    display: flex;
    flex-direction: column;
    @include small-only{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

.main__payment{
    margin-top : 50px;
    display: flex;
    flex-direction: column;
    h2{
        margin-top: 30px;
        margin-bottom: 5px;
    }
    a{
        color: $color-primary;
    }
    a:hover {
        text-decoration: underline;
        color: $color-primary;
    }
    @include small-only{
        align-items: center;
        >*{
            width:50%;
        }
    }
}