$color-primary : #8F5BFE;
$color-secondary : #F3E9F1;
$color-title : #342A49;
$color-text-black : rgba(0, 0, 0, 0.9);
$color-text-white : rgba(255, 255, 255, 0.9);
$breakpoints: (
    xs: 501px,
    sm: 830px,
    md: 1120px,
);